[grpc]
addr = "0.0.0.0:50051"

[manager.crypto]
stale_threshold = 300
no_update = "true"

[source.binance]

[source.coingecko]

[registry.crypto_assets]
type = "local"
path = "registry/crypto.json"

[ipfs]
url = ""

[log]
level = "debug"
