[grpc]
addr = "0.0.0.0:50051"

[ipfs]

[log]
level = "debug"

[store]
path = ".bothan"

[manager.crypto]
stale_threshold = 300
no_update = "true"

[manager.crypto.registry]
type = "local"
path = "registry/crypto.json"

[manager.crypto.source.binance]

[manager.crypto.source.coingecko]
